.actions_tab {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
