@font-face {
  font-family: "BeausiteClassicTrial-Black-BF6424edbfdb05c.otf";
  src: url("../public/fonts/BeausiteClassicTrial-Black-BF6424edbfdb05c.otf");
}
@font-face {
  font-family: "BeausiteClassicTrial-BlackItalic-BF6424edbf0fde9.otf";
  src: url("../public/fonts/BeausiteClassicTrial-BlackItalic-BF6424edbf0fde9.otf");
}

@font-face {
  font-family: "BeausiteClassicTrial-Light-BF6424edc039e51.otf";
  src: url("../public/fonts/BeausiteClassicTrial-Light-BF6424edc039e51.otf");
}
