.graphs {
  min-width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
  flex-direction: column;
  gap: 14px;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8eefb;
  width: 100%;
  padding: 10px;
}

.titleBox .upBlue {
  height: 40px !important;
  aspect-ratio: 1/1;
  height: auto;
}

.title {
  color: #1463ff;
}
.loading_api {
  font-size: 50px;
  text-align: center;
  color: #1463ff;
}
.error {
  font-size: 20px;
  color: red;
  text-align: center;
}
.choices {
  width: 100%;
  border: 1px solid #1463ff;
  border-radius: 0;
  padding: 10px;
}
.h1 {
  color: #1463ff;
  font-family: "BeausiteClassicTrial-Black-BF6424edbfdb05c.otf", sans-serif;
  font-size: 14px;
  width: fit-content;
  text-align: left;
}

.choices:focus {
  box-shadow: none;
  outline: #1463ff;
}
.footer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
